.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 16px;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.join-list>li:before {
    width: 12px !important;
    height: 12px !important;
    top: .5em !important;
    left: -5px !important;
    border-radius: 0px !important;
}

.join-list {
    /* text-align: center; */
}

.first-bullet:before {
    background-color: #c7eeb4;
}

.second-bullet:before {
    background-color: #91da6c;
}

.third-bullet:before {
    background-color: #539933;
}

.button--big {
    padding: 20px 36px !important;
}

.roadmap__item-dot.done {
    background-color: #539933;
}

.roadmap__item-dot.active {
    background-color: #c0a50c;
}

.highlight {
    /* background-color: #454545 !important; */
    background-color: #539933;
}

.ref-code {
    background-color: #ebebeb;
    padding: 25px 30px;
    display: inline-block;
    position: relative;
    font-size: 1.75rem !important;
}

@media screen and (max-width: 991px) {
    .ref-code {
        font-size: 1rem !important;
    }

    /* .header__button {
        display: none;
    } */
}

::-webkit-scrollbar {
    display: none;
}

.forAnimation {
    opacity: 0;
}

.take-part1 {
    width: 76%;
    max-width: 560px;
    min-width: 300px;
    animation-name: tada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* @keyframes tada {
    0% {
        transform: scaleX(1)
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        transform: scaleX(1)
    }
} */

.invited>a {
    border-color: #151514 !important;
    border-color: #e2e2df;
    color: #151514;
}

.change-background {
    background-color: #91da6c !important;
}

.left-finger {
    font-size: 2.5rem !important;
}

.right-finger {
    font-size: 2.5rem !important;
}

.bt-link {
    cursor: pointer;
}

.highlight-1 {
    background-color: #573993 !important;
}

.highlight-2 {
    background-color: #9f2d70 !important;
}

.highlight-3 {
    background-color: #c0a50c !important;
}